
/* div.divclass{
    background-color: brown;
} */

div#first {
    background-color: rgb(48, 162, 121);
    display: inline-block;
    width: 500px;
}

div#second{
    background-color: floralwhite;
    display: inline-block;
    width: 600px;
}

div#third{
    background-color: lightgoldenrodyellow;
    display: inline-block;
    width: 700px;
}
      